<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Denise Banisor</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="favicon.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat&family=Sacramento&family=Yesteryear&display=swap" rel="stylesheet">
</head>
<body>

<div class="top-container">
    <img class="sun-photo" src="static/sun-photo.png" alt="sun-image">
    <h1>I'm Denise.</h1>
    <h2> a future Python developer</h2>
    <img class="cloud-photo" src="static/cloud.png" alt="cloud-image">
    <img class="beach-photo" src="static/beach-photo.png" alt="beach-image">
</div>

<div class="middle-container">
  <div class="profile">
    <img class="profile-picture" src="static/profile_picture.png" alt="profile-picture">
    <h2>Hello.</h2>
    <p class="bio">I'm a SharePoint Digital Coach, currently learning Python. I love traveling and I dream of coding on the beach 💛<br>This page was done in Python using HTML and CSS.</p>
  </div>
  <hr>

    <img class="work-image" src="static/working.png" alt="office-work-image">
    <h2>My Professional Experience.</h2>
  <div class="experience">
    <div class="experience-row">
      <img class="societe-image" src="static/societe.png" alt="societe-generale-logo">
      <img class="inetum-image" src="static/inetum.png" alt="inetum-logo">
      <h3 class="experience-title">SharePoint Digital Coach</h3>
        <h4>Société Générale Global Solution Centre and Inetum Romania<br>March 2019 – Present</h4>
        <p>I managed to solve over 900 support cases on SharePoint On Premise.
             At my trainings, there were over 350 users trained on SharePoint 2016 and I’ve created and started trainings on a new tool, SharePoint Online with currently over 150 users trained.
            I’ve adapted and improved the support and the trainings provided to users on the before mentioned tools in order to better respond to the users’ needs.
            Also, besides providing users with specific answers I have tried to foresee future cases and come up with helpful procedures.
            In addition, I’ve replicated the same trainings available for French users in Romania as well, for Romanian speakers.</p>
        <p>Responsibilities:<br>
            • Provide support to all users in the company for SharePoint 2016<br>
            • Conduct online trainings for SharePoint 2016</p>
    </div>

    <div class="experience-row">
      <img class="fr-en-image" src="static/fr-en.png" alt="world-languages-logo">
      <h3 class="experience-title">Freelance English and French Corporate Trainer</h3><h4>June 2017 – March 2019</h4>
        <p>I managed to help people learn English and French through effective learning techniques (e.g. interactive dialogues, discussions based on business related videos in English/French, team exercises, vocabulary games etc.) and to also teach them business skills (e.g. time management matrix) through these two languages. I also designed my own coursework which covered the participants’ need for custom training sessions, adapted to each class and level (elementary, pre-intermediate and intermediate).
            Clients: REWE Romania (Penny Market), EXE Software.</p>
        <p>Responsibilities:<br>
            • Identify class participants training needs and deliver English and French trainings to small or large groups of participants</p>
    </div>

    <div class="experience-row">
      <img class="oracle-image" src="static/oracle.png" alt="oracle-logo">
      <h3 class="experience-title">Business Advisor</h3> <h4>Oracle Romania<br>August 2016 – May 2017</h4>
        <p>I took the initiative and created an online database in Apex to be able to track an important type of license contracts for the Nordic countries and Switzerland.
            This database improved the visibility over the fundamental follow-up in order to assure the continuity of a contract or the need for renegotiations for the sales teams.
            I implemented online presentations as training materials, with step-by-step instructions, that were very well received and replaced PowerPoint trainings.</p>
        <p>Responsibilities:<br>
            • Provide programs to improve operational efficiency, consistency, and compliance in support of the organization’s financial and tactical business objectives<br>
            • Provide business practices and processes<br>
            • Develop, communicate, and train the organization on business practices and processes<br>
            • Serve as a liaison with other divisions such as Finance, Contracts, HR, Legal, Shared Services, Accounts Receivable, Purchasing, and Risk Management in an effort to ensure accurate and timely transaction processing<br>
            • Collect, input, verify, correct, and analyze data to measure key performance indicator actual versus business objectives<br>
            • Drive implementation of new processes and procedures</p>
    </div>

    <div class="experience-row">
      <img class="oracle-image" src="static/oracle.png" alt="oracle-logo">
      <h3 class="experience-title">Contracts Administrator</h3> <h4>Oracle Romania<br>June 2015 – August 2016</h4>
        <p>I created an Excel file with macros that would calculate the exact price of a product purchased from a pre-existing Price Hold designed in a different currency than the one currently quoted.
            This file improved the Contracts Administrators’ and Sales processing time spent per contract and was shared at department level.
            I joined the Training team and delivered Microsoft Excel beginner and intermediate level trainings to colleagues within the department.
            I worked on designing a completely non-standard agreement for one of the most valuable customers in the License Department and collaborated with Deal Management, Sales team and Legal team for three months
            in order to have the agreement signed by the end of the quarter.</p>
        <p>Responsibilities:<br>
            • Create, validate and process contract documentation using Oracle's standard document templates, a set of contract options and in accordance
            with Oracle's policies and business approvals, in response to requests received from Sales<br>
            • Follow defined engagement guidelines to liaise with other Deal Management teams, Finance, Legal, and other groups across Oracle to ensure
            policy compliance and mitigate corporate risk</p>
    </div>

    <div class="experience-row">
      <img class="webhelp-image" src="static/webhelp.png" alt="webhelp-logo">
      <h3 class="experience-title">Quality Controller</h3> <h4>Webhelp Romania<br>May 2013 – February 2015</h4>
        <p>I designed the quality control grids with the help of the support agents and based on the customer’s requirements for the activities within the project. I trained all the support agents and
            implemented the according procedures.</p>
        <p>Responsibilities:<br>
            • Help with organizing and conducting interviews with prospective candidates<br>
            • Quality analysis according to the main KPIs; weekly and monthly quality reports<br>
            • Create and update quality control grids<br>
            • Create and update training documents<br>
            • Conduct training and coaching for new / old employees<br>
            • Permanent support for consultants</p>
    </div>

      <hr>

  </div>
  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img class="computer-image" src="static/skill1.png" alt="computer-skills">
      <h3>Computer skills</h3>
        <p>MS Office Pack (Teams, OneDrive, OneNote, Word, Excel, PowerPoint, Outlook)<br>
        Database Software (Salesforce, Apex, SharePoint On-Premises, SharePoint Online)<br>
        Reporting and forecasting (Oracle E-Business Suite, CRM Fusion, Sales Cloud)<br>
        Programming languages (Python, HTML, CSS)</p>
    </div>

    <div class="skill-row">
      <img class="language-image" src="static/skill2.png" alt="language-skills">
      <h3>Language skills</h3>
        <p>Romanian – C3 (Native)<br>
        French – C2 (Proficient user)<br>
        English – C2 (Proficient user)<br>
        Spanish – A2 (Basic user – elementary)</p>
    </div>

  </div>

  <hr>

    <div class="diplomas">
        <img class="degrees-image" src="static/diplomas.png" alt="diplomas-image">
        <h2 class="degrees-title">My degrees and diplomas.</h2>
        <p>Romanian-American University, Law School, Bachelor’s degree, June 2011<br>
            Lucian Blaga Highscool, Highschool diploma, June 2006<br>
            Authorized French Translator and Interpreter, Ministry of Justice, October 2017</p>
    </div>

  <hr>
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>If you want to reach me, you can do it here:</h3>
    <p class="contact-message">
        Phone number: +40 751 512 677<br>
        E-mail : denise.banisor@gmail.com</p>
    <a class="btn" href="mailto:denise.banisor@gmail.com">CONTACT ME</a>
  </div>
</div>



    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/denisebanisor/">LinkedIn</a>
        <p class="copyright">© 2022 Denise Banisor.</p>
    </div>

</body>

</html>